@layer components {
  .bg-custom-image {
    background-image: url('/public/homepage/home.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
  }
  .nadia {
    background-image: url('/public/clients/nadia.svg'); /* Path to your image */
    background-size: cover;
    background-position: center;
  }
  .aly {
    background-image: url('/public/clients/aly.svg'); /* Path to your image */
    background-size: cover;
    background-position: center;
  }
  .layla {
    background-image: url('/public/clients/layla.svg'); /* Path to your image */
    background-size: cover;
    background-position: center;
  }
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
